<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
	<variable name="logRoot"
            value="C:\Users\andre\Desktop\LogAuthService" />
  <targets>
    <target xsi:type="File" name="allfile" fileName="${logRoot}/all-${shortdate}.log" createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>
